opencv-python
mtcnn
deepface
scikit-learn
psutil
tf-keras
numpy
pillow

/*Things to do to run the project*/
py -3.10 -m venv venv

.\\.venv\\Scripts\\Activate

npm run dev

cargo-connect123

pkyb knsp atnb rmip 

cargoconnect084@gmail.com

cd Facial-Recognition-Attendance-system

python add_faces_gui.py

#Database password = Xfkk3VAKenh7BIpG



Strathmore University Courses
Bachelor of Science in Tourism Management (BTM)

Bachelor of Science in Hospitality Management (BHM)

Bachelor of Business Science: Financial Engineering (BBSFENG)

Bachelor of Business Science: Financial Economics (BBSFE)

Bachelor of Business Science: Actuarial Science (BBSACT)

Bachelor Of Science In Informatics And Computer Science (BICS)

Bachelor Of Business Information Technology (BBIT)

BSc. Computer Networks and Cyber Security (BCNS)

Bachelor of Laws (LLB)

Bachelor of Arts in Communication (BAC)

Bachelor of Arts in International Studies

Bachelor of Arts in Development Studies and Philosophy (BDP)

Bachelor of Science in Supply Chain and Operations Management (BSCM)

Bachelor of Financial Services (BFS)

Bachelor Of Science In Electrical and Electronics Engineering (BSEEE)

BSc in Statistics and Data Science (BScSDS)

Bachelor of Commerce (BCOM)


List of terminals and their uses
XAMPP Control Panel - To run Apache and MySQL servers
Admin Panel - For managing the application and user accounts
Lecturer Panel - Start and stop attendance sessions
API (STUDENT AND LECTURER DASHBOARDS) - For accessing the application programmatically


TO do

1. Implement the 'my classes' feature for lecturers to view and manage their classes.
1b. Implement the 'Students' feature for lecturers to view and manage their students.   
2. refactor the recognition algorithm.
3. Drop down in the student edit menu in the admin panel.
4. reports
5. When i unasign a class, iit does not remove it from the lecturer

11/11/25
made changes to the core FRS logic